{% for ring in range(nRings) %}
mat fuel{{ "%02d"|format(ring) }} -10.29748
 O-16.09c 4.58500E-02
 O-17.09c 1.74660E-05
U-234.09c 5.79870E-06
U-235.09c 7.21750E-04
U-238.09c 2.22530E-02

surf 4{{ "%02d"|format(ring) }} cyl 0.0 0.0 {{ "%7.5f"|format(0.405 * ((ring + 1) / nRings) ** 0.5 ) }}

cell 1{{ "%02d"|format(ring) }} 0 fuel{{ "%02d"|format(ring) }} -4{{ "%02d"|format(ring) }} {%- if ring %} 4{{ "%02d"|format(ring - 1) }}{%- endif -%}
{% endfor %}
cell 999 0 outside 4{{ "%02d"|format(nRings - 1) }}
set pop 500 500 500
plot 3 500 500
